@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

* {
    padding: 0;
    margin: 0;
}

body {
    overflow: hidden;
}

main {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: black;
}

.grid {
    width: 600px;
    height: 600px;
    display: flex;
    flex-wrap: wrap;
    /* border: 1px solid white; */
    background: url(./assets/bg.png);
    background-repeat: no-repeat;
}

.grid div {
    width: 30px;
    height: 30px;
    /* box-shadow: 1px 1px white; */
}

.snake {
    background: url(./assets/snakebg2.png);
    background-repeat: no-repeat;
}

.apple {
    background: url(./assets/applebg.png);
    background-repeat: no-repeat;
}

.score {
    width: 100%;
    padding: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Press Start 2P', cursive;
    color: white;
}

.game-over-container {
    width: 100vw;
    height: 100vh;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
    background: rgba(000, 000, 000, .5);
}

.pop-up {
    min-width: 270px;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border-radius: 8px;
    font-family: 'Press Start 2P', cursive;
    font-size: 16pt;
    color: white;
    animation-name: fall;
    animation-duration: 1s;
    background: #282A2D;
    background: #3E434A;
}

@keyframes fall {
    from {
        margin-top: -100px;
        opacity: 0;
    } to {
        opacity: 1;
    }
}

.game-over-text {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 16px;
}

.button-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 16px;
}

.btt {
    min-width: 165px;
    height: 50px;
    padding: 16px;
    font-family: 'Press Start 2P', cursive;
    color: white;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    /* background: rebeccapurple; */
    background: #009afe;
    transition: background .3s;
}

.share-btt {
    margin-bottom: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #350095;
}

.share-btt span {
    margin-left: 8px;
}

.play-again-btt:hover {
    background: #1C695E;
}